@import './Vars.scss';
@import './Media.scss';
body {
    margin: 0;
    font-family: $theme-font;
    background: $main-color;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {//para que no aparezcan la barra de navegación en el carousel
  display: none;
}